body {
  font-family: "Times New Roman", Times, serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0.5rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.block {
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.row.center {
  align-items: center;
}

img.small {
  max-height: 8rem;
  margin: 5px;
}

button {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  background-color: royalblue;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 90%;
  cursor: pointer;
  border: 1px solid blue;
}

button.add {
  width: 1rem;
  background-color: #40c0f0;
}

button.remove {
  width: 1rem;
  background-color: #f04040;
}

button.badge {
  width: 1.5rem;
  color: white;
  background-color: #f04040;
  border: none;
}

.text-right {
  text-align: right;
}
